{% extends 'base.html.twig' %}

{% block body %}
    <h1>Quotes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Quotecontent</th>
                <th>Createdat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quote in quotes %}
            <tr>
                <td><a href="{{ path('quote_show', { 'id': quote.id }) }}">{{ quote.id }}</a></td>
                <td>{{ quote.quoteContent }}</td>
                <td>{% if quote.createdAt %}{{ quote.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('quote_show', { 'id': quote.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('quote_edit', { 'id': quote.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('quote_new') }}">Create a new quote</a>
        </li>
    </ul>
{% endblock %}
